node_modules/
.pnpm-store/

# Next.js
.next/
out/
build/
dist/

# env
.env
.env*.local

# uploads (local dev photo storage)
apps/web/public/uploads/*
!apps/web/public/uploads/.gitkeep

# misc
.DS_Store
*.log
*.tsbuildinfo
npm-debug.log*
pnpm-debug.log*

# Prisma
packages/db/generated/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
.vercel
